# full release workflow which does a staging build, github tagging,
# promotion in artifactory and release into central.
name: Release

on:
  workflow_dispatch:

jobs:

  # build and release to staging repo.
  # stash artifactory build id so that promote and central
  # jobs can work on it.
  staging:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: jfrog/setup-jfrog-cli@v1
      with:
        version: 1.43.2
      env:
        JF_ARTIFACTORY_LOCAL: ${{ secrets.JF_ARTIFACTORY_SECRET_LOCAL }}
    # prepare env for cli to get a staging build working
    - name: Configure JFrog Cli
      run: |
        jfrog rt gradlec \
          --use-wrapper \
          --deploy-ivy-desc=false \
          --server-id-resolve=local \
          --server-id-deploy=local \
          --repo-resolve=libs-release \
          --repo-deploy=libs-staging-local
        echo JFROG_CLI_BUILD_NAME=spring-statemachine >> $GITHUB_ENV
        echo JFROG_CLI_BUILD_NUMBER=$GITHUB_RUN_NUMBER >> $GITHUB_ENV
    # switch from snapshot to a release version
    - name: Configure Release Version
      run: |
        jfrog rt gradle releaseVersion
        echo PROJECT_VERSION=$(jfrog rt gradle "properties -q" | grep "version:" | awk '{print $2}') >> $GITHUB_ENV
    - name: Build and Publish
      run: |
        jfrog rt gradle clean build -x test artifactoryPublish
        jfrog rt build-publish
        echo JFROG_CLI_BUILD_NAME=$JFROG_CLI_BUILD_NAME > buildinfo.txt
        echo JFROG_CLI_BUILD_NUMBER=$JFROG_CLI_BUILD_NUMBER >> buildinfo.txt
    - name: Tag Release
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        tag-release-branch: ${{ env.PROJECT_VERSION }}
        tag-release-tag: ${{ env.PROJECT_VERSION }}
        tag-release-tag-prefix: v
    - uses: actions/upload-artifact@v2
      with:
        name: buildinfo
        path: buildinfo.txt

  # wait manual approval.
  # promote build from staging to releases
  promote:
    runs-on: self-hosted
    needs: staging
    environment: promote
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: buildinfo
    - uses: jfrog/setup-jfrog-cli@v1
      with:
        version: 1.43.2
      env:
        JF_ARTIFACTORY_LOCAL: ${{ secrets.JF_ARTIFACTORY_SECRET_LOCAL }}
    # prepare env for cli to promote
    - name: Configure JFrog Cli
      run: |
        jfrog rt gradlec \
          --use-wrapper \
          --deploy-ivy-desc=false \
          --server-id-resolve=local \
          --server-id-deploy=local \
          --repo-resolve=libs-release \
          --repo-deploy=libs-staging-local
        echo JFROG_CLI_BUILD_NAME=spring-statemachine >> $GITHUB_ENV
        echo JFROG_CLI_BUILD_NUMBER=$GITHUB_RUN_NUMBER >> $GITHUB_ENV
    - name: Configure JFrog Cli
      run: |
        while read line; do echo $line >> $GITHUB_ENV; done < buildinfo.txt
    - name: Promote Build
      run: |
        jfrog rt build-promote libs-release-local
    - name: Switch to Next Dev Version
      run: |
        jfrog rt gradle nextVersion
    - uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        commit-changes-branch: main
        commit-changes-message: Next development version

  # wait manual approval.
  # pull released artifacts from repo and do a dance with central sync where we
  # create checksum and signature files, create staging repo and upload
  # files into it, and then finally close and release that repo.
  central:
    runs-on: self-hosted
    needs: promote
    environment: central
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: buildinfo
    - uses: jfrog/setup-jfrog-cli@v1
      with:
        version: 1.43.2
      env:
        JF_ARTIFACTORY_LOCAL: ${{ secrets.JF_ARTIFACTORY_SECRET_LOCAL }}
    - name: Configure JFrog Cli
      run: |
        while read line; do echo $line >> $GITHUB_ENV; done < buildinfo.txt
    - name: Download Release Files
      run: |
        jfrog rt download \
          --spec .github/release-files-spec.json \
          --spec-vars "buildname=$JFROG_CLI_BUILD_NAME;buildnumber=$JFROG_CLI_BUILD_NUMBER"
    - uses: jvalkeal/nexus-sync@main
      with:
        url: http://localhost:8082/nexus
        username: ${{ secrets.NEXUS_USERNAME }}
        password: ${{ secrets.NEXUS_PASSWORD }}
        staging-profile-name: test
        create: true
        upload: true
        close: true
        release: true
        generate-checksums: true
        generate-checksums-config: >
          [
            { "type": "md5", "extension": "md5" },
            { "type": "sha1", "extension": "sha1" }
          ]
        pgp-sign: true
        pgp-sign-passphrase: ${{ secrets.GPG_PASSPHRASE }}
        pgp-sign-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
